* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Design System Variables */
  --filter-heading-font-size: 18px;
  --filter-heading-font-weight: 500;
  --filter-subsection-font-size: 16px;
  --filter-subsection-font-weight: 500;
  --filter-subsection-color: rgba(0, 0, 0, 0.5);
  --checkbox-bg-color: #006845;
  --checkbox-checkmark-color: #ffffff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
}
